.header {
  position: sticky;
  top: 0;
  z-index: 999;
  display: grid;
  grid-template-columns: minmax(auto, var(--app-width));
  justify-content: center;
  border-bottom: 0.1rem solid #e6e6e6;
  background: white;
}

.container {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 1rem 2rem;
}

.heading {
  font-size: 2.2rem;
  white-space: nowrap;
}
