.main {
  display: grid;
  grid-template-columns: minmax(auto, var(--app-width));
  justify-content: center;
}

.container {
  display: grid;
  align-content: start;
  gap: 2.5rem;
  padding: 2.5rem 2rem;
}

.placeCenter {
  place-content: center;
}
