.button {
  --diameter: 3.5rem;
  --top: calc(50% - var(--diameter) / 2);
  --horizontal-position: 1rem;

  position: absolute;
  top: var(--top);
  display: grid;
  place-content: center;
  font-size: 2rem;
  width: var(--diameter);
  height: var(--diameter);
  border: 0.1rem solid #c1c1c1;
  border-radius: 50%;
  background: #fafafa;
  opacity: 0;
  transition: opacity 0.2s;
}

.button[data-direction="left"] {
  left: var(--horizontal-position);
}

.button[data-direction="right"] {
  right: var(--horizontal-position);
}
