.main {
  display: grid;
  grid-template-columns: minmax(auto, var(--app-width));
  justify-content: center;
}

.container {
  display: grid;
  place-content: center;
  padding: 2rem;
}

.article {
  display: grid;
  gap: 2rem;
  text-align: center;
}
