.wrapper {
  position: relative;
  height: 0.6rem;
  background: #c1c1c1;
}

.wrapper::before {
  content: "";
  position: absolute;
  width: 0;
  min-width: var(--progress);
  height: 100%;
  background: dodgerblue;
}
