.main {
  display: grid;
  grid-template-columns: minmax(auto, var(--app-width));
  justify-content: center;
}

.container {
  display: grid;
  place-content: center;
  padding: 2rem;
}

.container::before {
  --diameter: 3.5rem;

  content: "";
  width: var(--diameter);
  height: var(--diameter);
  border: 0.5rem solid dodgerblue;
  border-radius: 50%;
  border-left-color: transparent;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
